<footer class="footer bg-body-tertiary py-3 mt-auto">
  <div class="container">
    <span class="text-muted">
      &copy; The Well - 2024 - Some illustrations by
      <a class="text-muted text-decoration-none" href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a>
      from <a class="text-muted text-decoration-none" href="https://icons8.com/illustrations">Ouch!</a>
    </span>
  </div>
</footer>
