

body {
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}



.landing {
    background-color: #6a9294;
    /* min-height: 100vh; */
}

.logo-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.cover-container {
    max-width: 75vw;
}

.landing-img {
    max-width: 100%;
}

.landing-header {
    font-family: 'Dancing Script', cursive;
    font-size: 4.5rem;
}

p {
    line-height: 1.7rem;
    font-size: 1.3rem;
}


.features-1-img {
    max-width: 100%;
}

.nav-link:hover {
    text-decoration-line: underline;
    text-decoration-thickness: .25rem;
}

.hiw-icon {
    max-width: 64px;
}

.collab-sec {
    background-color: #6a9294;
}
