

body {
    font-family: 'Ubuntu', sans-serif;
    /* height: 100vh; */
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: azure;
    text-decoration-line: underline;
    text-decoration-thickness: .25rem;
}

.landing {
    background:  linear-gradient(0.35turn, #3e8e93 5%, #6a9294 35%);
    /* background: linear-gradient(to right bottom, #004e83 1%, #6a9294) */
    /* min-height: 100vh; */
}

.logo-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.cover-container {
    max-width: 80vw;
}

.landing-img {
    max-width: 120%;
    
}

.landing-header {
    font-family: 'Dancing Script', cursive;
    font-size: 4.5rem;
}

p {
    line-height: 1.7rem;
    font-size: 1.3rem;
}


.features-1-img {
    max-width: 100%;
}

.hiw-icon {
    max-width: 64px;
}

.collab-sec {
    background-color: #658d8f;
}
